main {

}

    main h2 {
        color: #333;
        font-family: 'Raleway';
        font-size: 56px;
        margin-left: 10vw;
        margin-bottom: 35px;
    }

    p#description {
        color: #121212;
        font-family: 'Open-Sans';
        font-size: 20px;
        width: 80vw;
        margin-left: 10vw;
    }

    h3.name-title {
        color: #333;
        font-family: 'Raleway';
        font-size: 32px;
        margin-left: 10vw;
        margin-top: 100px;
    }

    p.person-description {
        color: #121212;
        font-family: 'Open-Sans';
        font-size: 18px;
        width: 80vw;
        margin-left: 10vw;
    }

    section#manchester-team {
        background-color: #6b2c91cc;
        width: 80vw;
        margin-left: 10vw;
        padding: 20px;
    }

    section#manchester-team h2 {
        font-size: 40px;
        margin-left: 0;
    }

    section#manchester-team h3 {
        margin-left: 0;
    }

    section#manchester-team p {
        margin-left: 0;
    }
