@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


main {

}

    main h2 {
        color: #333;
        font-family: 'Raleway';
        font-size: 56px;
        margin-left: 10vw;
        margin-bottom: 35px;
    }

    p#description {
        color: #121212;
        font-family: 'Open-Sans';
        font-size: 20px;
        width: 80vw;
        margin-left: 10vw;
    }

    h3.name-title {
        color: #333;
        font-family: 'Raleway';
        font-size: 32px;
        margin-left: 10vw;
        margin-top: 100px;
    }

    p.person-description {
        color: #121212;
        font-family: 'Open-Sans';
        font-size: 18px;
        width: 80vw;
        margin-left: 10vw;
    }

    div.team-member img {
        height: 300px;
        margin-left: 10vw;
    }

    /*
    section#manchester-team {
        width: 70vw;
        margin-left: 15vw;
        padding: 20px;
        border: #401b57 solid 2px;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    section#manchester-team h2 {
        font-size: 40px;
        margin-left: 0;
        margin-bottom: 0;
    }

    section#manchester-team h3 {
        margin-left: 0;
    }

    section#manchester-team img {
        display: inline-block;
        margin-right: 5vw;
        height: 300px;
        vertical-align: top;
    }

    section#manchester-team p {
        margin-left: 0;
        display: inline-block;
        width: 45vw;
        height: 300px;
    }
    */
