main#content {
    display: flex;
    margin-top: calc(5em + 65px);
    position: initial;
}

div#search-bar {
    background-color: #401b57;
    width: 100vw;
    height: 60px;
    text-align: center;
}

div#expertise-search-wrapper {
    min-width: 350px;
    width: calc(20vw + 30px);
    max-height: 35px;
    display: inline-block;
    border: 1px solid #e5dfe5;
    background-color: #eee;
    border-radius: 6px;
    overflow-y: hidden;
    z-index: 2;
    position: relative;
}

div#expertise-search-wrapper:focus-within {
    background-color: #fff;
    max-height: 145px;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.075),
      0 2px 2px rgba(0, 0, 0, 0.075),
      0 4px 4px rgba(0, 0, 0, 0.075),
      0 8px 8px rgba(0, 0, 0, 0.075),
      0 16px 16px rgba(0, 0, 0, 0.075);
}

div#search-bar input {
    width: calc(100% - 30px);
    height: 25px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Open Sans';
    background-color: transparent;
    border: none;
}

div#search-bar input:focus-visible {
    outline: none;
    background-color: #fff;
    border-bottom: #ccc solid 1px ;
}

div#search-bar svg {
    float: right;
    position: relative;
    top: -33px;
    right: 7px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

div#search-bar img {
    height: 20px;
    width: 20px;
    float: right;
    position: relative;
    top: -33px;
    right: 7px;
    cursor: pointer;
}

div#search-bar input:focus-visible + img {
    top: -34px;
}

div#expertise-search-wrapper ul {
    list-style: none;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 14px;
    padding: 0;
    min-height: 1px;
}

div#expertise-search-wrapper li {
    padding-left: 25px;
    height: 25px;
    line-height: 25px;
    text-transform: capitalize;
}

div#expertise-search-wrapper li:empty {
    height: 0px;
}

div#expertise-search-wrapper li:hover {
    background-color: #eee;
}

aside#filters {
    display: inline-block;
    width: 230px;
    padding: 20px;
}

section.filter-item {
    margin-bottom: 25px;
}

section.filter-item#student-interactions {
    max-height: 0px;
    overflow-y: hidden;
}

section.filter-item#student-interactions.shown {
    max-height: 120px;
}

h3.filter-item-title {
    font: normal normal 600 14px/14px 'Open Sans';
    color: #2c2c2c;
    cursor: pointer;
}

h3.filter-item-title:not(#distance):after {
    border-left: 0.3125em solid transparent;
    border-right: 0.3125em solid transparent;
    border-top: 0.3125em solid #333;
    content: "";
    display: inline-block;
    height: 0;
    margin-bottom: 0.3125em;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
    position: relative;
    right: 0;
    vertical-align: middle;
    width: 0;
    transition: 0.4s;
}

h3.filter-item-title.collapsed:after {
    transform: rotateX(180deg);
}

ul.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    height: fit-content;
    max-height: 1000px;
}

ul.filter-list.collapsed {
    max-height: 0px;
}

ul.filter-list li {
    margin-bottom: 5px;
}

input.custom-check {
    position: relative;
    width: 17px;
    height: 17px;
    margin: 0;
    z-index: 1;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    cursor: pointer;
}

input.custom-check:after {
    position: relative;
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    border-radius: 3px;
    z-index: 0;
}

input.custom-check:checked:after {
    background-image: url("../assets/transparent-check.png");
    background-size: 13px 13px;
    background-position: 1px 1px;
    filter: invert(100%);
    background-color: #bfe4a8;
    border-color: #bfe4a8;
}

label.filter-label {
    position: relative;
    left: 7px;
    top: -3px;
    font: normal normal 400 14px/14px 'Open Sans';
    cursor: pointer;
}

h3.filter-item-title#distance {
    display: inline-block;
}

input.toggle {
    position: relative;
    width: 17px;
    height: 17px;
    margin: 0;
    z-index: 1;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    cursor: pointer;
    top: 4px;
    left: 5px;
}

input.toggle:before {
    content: '';
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    width: 36px;
    border-radius: 34px;
    height: 18px;
}

input.toggle:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    border-radius: 12px;
    transition: 0.3s;
}

input.toggle:checked:after {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

input.toggle:checked:before {
    background-color: #6e1a8a;
}

p.distance-label {
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 0;
}

p.distance-label.disabled {
    opacity: 0.7;
}

select#radius-choice {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: #999;
}

select#radius-choice:disabled {
    border-color: #ccc;
}

input#postcode-entry {
    margin-top: 5px;
    width: 90px;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 2px;
}

input#postcode-entry:disabled {
    color: rgb(109, 109, 109);
    opacity: 0.7;
    border-color: rgba(118, 118, 118, 0.3);
}

input#postcode-entry:focus-visible {
    outline: 1px solid #999;
}

img#my-location-button {
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    right: 20px;
    cursor: pointer;
    opacity: 0.9;
}

img#my-location-button.disabled {
    opacity: 0.4;
    cursor: default;
}

ul#results {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 13px; 
    flex-grow: 1;
    padding: 5px;
    align-content: flex-start;
    margin-right: 20px;
}

ul#results li.profile-result {
    background-color: #eee;
    padding: 20px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: 10px solid white;
    margin-top: 15px;
    height: fit-content;
}

ul#results li.profile-result:hover {
    background-color: #e8e8e8;
}

img.profile-picture {
    width: 24px;
    display: inline-block;
    margin-right: 5px;
}

h2.profile-name {
    font-family: 'Open Sans';
    display: inline-block;
    font-size: 16px;
    color: #333;
    margin: 0;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: -6px;
}

ul.expertise-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

li.expertise {
    display: inline-block;
    background-color: #401b57;
    border-radius: 7px;
    padding: 0px 7px 2px 7px;
    color: #eee;
    font: 14px 'Open Sans';
    margin-bottom: 5px;
    margin-right: 5px;
}

h3.profile-subheading {
    font-family: 'Open Sans';
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin: 0;
    display: block;
    width: fit-content;
}

p.about {
    font-family: 'Open Sans';
    font-size: 14px;
    margin-top: 10px;
    margin: 0;
    margin-top: 10px;
    display: block;
    width: fit-content;
}

p.distance {
    font-family: 'Open Sans';
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: fit-content;
}

@media only screen and (max-width: 1500px) {
    ul#results li.profile-result {
        max-width: 40%;
    }
}

@media only screen and (min-width: 1500px) {
    ul#results li.profile-result {
        max-width: 33.333%;
    }
}
