@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.loginButton {
    height: 35px;
    width: fit-content;

    margin-top: 83px;
    margin-right: 20px;
    border-radius: 24px;
    padding: 0px 5px;
    min-width: 75px;

    background-color: #6b2c91;

    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.loginButton:hover {
    background-color: #4c1f68;
}

.expertProfile {
    height: 35px;
    margin-top: 83px;
    width: fit-content;
    padding: 0px 5px;
    border-radius: 24px;
    background-color: #03570d;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
}

content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.refinements {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    margin-left: 5px;
    margin-right: 4%;
}

.refinements h1 {
    font-family: 'Open Sans';
    font-size: 24px;
    color: #333333;
    margin-left: 10px;
}

.refine {
    margin-top: 20px;
}

.refine label {
    margin-left: 5px;
    margin-top: 2px;
}

.refine input[type="checkbox"] {
    margin-left: 10px;
}

.refine h1 {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #333333;
}

.main {
    width: 75%;
    height: 100%;
}

.searchHead {
    background-color: #6b2c91;
}

.search {
    border: 1px solid #333333;
    border-radius: 30px;
    width: 60%;
    height: 50px;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input {
    width: 85%;
    height: 95%;
    margin-left: 15%;
    object-fit: contain;
    border: 0 solid transparent;
    background-color: transparent;
    font-size: 24px;
    color: #333333;
    margin-left: 5px;
}

.search img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.search input:focus {
    outline: none;
}

.results {
    width: 100%;
    margin-top: 30px
}

.item {
    display: inline-block;
    background-color: #efefef;
    margin: 20px;
    width: 25%;
    height: 100px;
    
}

.item:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.overlay {
    position: fixed;
    bottom: 0px;
    left: 0px;

    display: flex;
    background-color: #6b2c91;
    width: 100vw;
    height: 50px;
}

.overlay h1 {
    margin-left: 15px;
    width: fit-content;

    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 50px;
}

.adminButton {
    margin-top: 80px;
    height: fit-content;
    width: fit-content;
}

.adminButton img {
    height: 40px;
    width: 40px;
}

.area {
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.area:hover {
    opacity: 0.8;
}

.area h2 {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 300;
}

@media only screen and (max-width: 850px) {
    .loginButton {
        margin-top: 16px;
    }
}