.container {
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    background-color: #efefef;
    border-radius: 20px;
}

.profile {
    width: 80%;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 4px 12px rgb(0 0 0 / 35%);
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    text-align: left;
}

.profile h1 {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;;
    color: #333333;
    font-family: 'Open Sans';
    text-align: center;
}

.field {
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.5px solid rgb(171, 180, 188);
    padding-top: 20px;
    padding-bottom: 20px;
}

.field input[type="checkbox"] {
    float: right;
    margin-right: 95px;
}

.field input[type="text"] {
    float: right;
    color: #333333;
    font-family: 'Open Sans';
    margin-right: 20px;

    border: 1px solid #333333;
    border-radius: 5px;
}

.field label {
    margin-left: 10px;
    color: #666666;
    font-family: Roboto,Arial,sans-serif;
}

.profile button {
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
    border-radius: 30px;
    border: 10px solid #03570d;
    outline-width: 1px;
    outline-style: solid;
    outline-color: transparent;
    width: 30%;
    background-color: #03570d;
    color: white;
    font-size: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
}

.profile button:hover {
    opacity: 0.8;
}

.field:hover {
    background-color: #efefef;
}