main {
    width: 100vw;
    height: fit-content;
}

#form-container {
    display: inline-block;
    width: 100vw;
    height: fit-content;
}

#form-container form {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.save-button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: #6b2c91;
    color: white;
    margin-left: 50vw;
    transform: translateX(-50%);
    border: none;
    font-family: 'Raleway';
    margin-bottom: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.save-button:hover {
    opacity: 0.8;
    box-shadow: 0 1px 6px rgba(64, 27, 87, 0.63);
}

.subform {
    display: inline-block;
    width: 500px;
    height: fit-content;
    margin-left: 50vw;
    transform: translateX(-50%);
    margin-bottom: 5vh;
    border: 1px #bbb solid;
    border-radius: 20px;
    padding-bottom: 10px;
}

.subform h1 {
    color: #333;
    font-family: 'Raleway';
    margin-left: 20px;
    font-weight: 600;
}

.subform hr {
    margin: 0;
}

.subform h2 {
    color: #333;
    font-family: 'Raleway';
    margin-left: 25px;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
}

.entry {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
}

.entry div {
    display: inline-block;
    height: 40px;
}

.descriptor label, .entry label {
    font-family: 'Raleway';
    display: inline-block;
    font-weight: 600;
    color: #555;
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    width: 100px;
}

.descriptor p {
    font-family: 'Raleway';
    font-size: 12px;
    margin-left: 25px;
    margin-top: 5px;
    width: 260px;
    color: #333;
}

.entry input[type="text"] {
    position: relative;
    float: right;
    right: 20px;
    top: -1px;
    border: 1px solid #555;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 150px;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

.entry input[type="text"]:focus {
    outline: none;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.entry textarea#about-them {
    position: relative;
    left: -10px;
    top: 5px;
    width: 200px;
    height: fit-content;
    resize: vertical;
    font-family: 'Raleway';
    font-size: 12px;
    color: black;
    border-radius: 5px;
    min-height: 40px;
    max-height: 400px;
}

.entry textarea#about-them:focus-visible {
    outline: none;
    border: 2px solid #333;
}

#expertises {
    width: 200px;
    height: fit-content;
}

#expertises input {
    display: block;
    margin-bottom: 10px;
    position: relative;
    right: 10px;
}

.entry #isVolunteer {
    margin-bottom: 20px;
}

.entry div#job-title {
    position: relative;
    float: right;
    width: 300px;
    top: -5px;
    display: none;
}

#ages {
    display: block;
    width: 90%;
    font-family: 'Open Sans';
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 3%;
}

#ages input {
    margin-right: 20px;
    margin-left: 0;
}

.check-group {
    display: inline-block;
    height: fit-content;
    width: 40%;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.check-group#student-interactions {
    display: none;
}

.check-group div {
    margin-bottom: 5px;
}

.check-group div label {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 600;
    color: #555;
    font-size: 14px;
    width: 150px;
}

.check-group div input {
    margin: 0;
}

#resource-table {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#resource-table tbody {
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 14px;
}

#resource-table tbody tr:first-child {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
}

#resource-table td {
    padding-right: 10px;
}

#resource-table tr td:nth-child(4) {
    width: fit-content;
    padding-right: 0px;
}

#remove-resource-button {
    background-color: #ffffff00;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
}

#remove-resource-button img {
    width: 20px;  
}

#new-resource-button {
    background-color: #ffffff00;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
}

#new-resource-button img {
    width: 20px;
}

dialog#new-resource-dialog {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
}

#new-resource-dialog h1 {
    font-family: 'Raleway';
    width: fit-content;
    display: inline-block;
    margin-top: 5px;
    margin-left: -5px;
}

#new-resource-dialog #close-dialog {
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
    border: none;
    position: relative;
    top: -5px;
    left: -10px;
    cursor: pointer;
}

#new-resource-dialog form label {
    font-family: 'Raleway';
    display: inline-block;
    font-weight: 600;
    color: #555;
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    width: 120px;
    margin-bottom: 1px;
}

#new-resource-dialog form p {
    font-family: 'Raleway';
    font-size: 12px;
    margin-left: 25px;
    margin-top: 5px;
    width: 260px;
    color: #333;
    margin-bottom: 20px;
}

#new-resource-dialog form input[type="text"] {
    position: relative;
    float: right;
    right: 20px;
    top: -4px;
    border: 1px solid #555;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 150px;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

#new-resource-dialog input[type="submit"] {
    border: 1px solid #555555;
    float: right;
    position: relative;
    right: 20px;
    border-radius: 5px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    color: #444;
}