@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

header {
    background-color: #401b57;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    margin: 0;
    display: inline-block;
    margin: 0;
}
    header img {
        height: 80px;
    }

    header nav {
        float: right;
        margin-top: 25px;
        margin-right: 50px;
        width: 30%;
        align-content: center;
        display: flex;
        justify-content: space-around;
    }

    header nav a {
        color: #dddddd;
        font-family: 'Raleway';
        font-size: 14px;
        margin-top: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    header nav a:hover {
        color: white;
    }

main {
    margin-top: -4px;
    width: 100vw;
    height: fit-content;
}

.first-section {
    height: calc(66vh - 100px);
    width: 100%;
    background-color: #401b57;
}

    .first-section h1 {
        color: white;
        word-wrap: normal;
        width: 300px;
        font-size: 56px;
        font-family: 'Raleway';
        margin: 0;
        position: absolute;
        left: 150px;
        top: calc(calc(calc(66vh - 100px) / 2) + 80px);
        transform: translateY(-50%);
    }

    .first-section img {
        float: right;
        position: absolute;
        right: 100px;
        top: calc(calc(calc(66vh - 100px) / 2) + 80px);
        transform: translateY(-50%);
    }

    .first-section h2 {
        color: white;
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 100;
        position: absolute;
        left: 100px;
        top: calc(calc(calc(66vh - 100px) / 2) + 190px);
    }

.second-section {
    height: 66vh;
    width: 100%;
    background-color: white;
}

    .second-section h1 {
        margin-left: 100px;
        margin-top: 50px;
        word-wrap: normal;
        width: 510px;
        font-size: 36px;
        font-family: 'Raleway';
    }

    .second-section p {
        font-family: 'Raleway';
        font-size: 16px;
        margin-left: 100px;
        margin-top: 10vh;
        font-weight: 100;
        width: 500px;
    }

.third-section {
    height: 66vh;
    width: 100%;
    background-color: #121212;
}

    .third-section h1 {
        margin-left: 100px;
        transform: translateY(50px);
        width: 510px;
        font-size: 36px;
        font-family: 'Raleway';
        color: white;
    }

    .third-section ul {
        margin-left: 100px;
        margin-top: 80px;
    }

    .third-section li {
        color: white;
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 3vh;
    }

.forth-section {
    height: 66vh;
    width: 100%;
    background-color: white;
}

    .forth-section h1 {
        margin-left: 100px;
        font-size: 36px;
        font-family: 'Raleway';
        width: fit-content;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .forth-section img {
        height: calc(66vh - 100px);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

.fifth-section {
    height: 66vh;
    width: 100%;
    background-color: #121212;
}

footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #333333;
    color: white;
    font-family: 'Raleway';
}

footer h1 {
    font-size: 14px;
    line-height: 50px;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 0px;
}

footer p {
    font-size: 14px;
    float: left;
    margin-top: -33px;
    margin-left: 270px;
}