body {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.homeButton {
    display: flex;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.homeButton:hover {
    opacity: 1;
}

.choices {
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box {
    display: inline-block;
    width: 30vw;
    border-radius: 15px;
}

.box h1 {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
}

.box p {
    font-family: 'Open Sans';
    font-weight: 200;
    color: #eeeeee
}

#user {
    background-color: purple;
}

#expert {
    background-color: green;
}