@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

header {
    width: 100vw;
    background-color: #401b57;
    position: absolute;
    top: 0;
    height: 5em;
}

#title-heading {
    width: fit-content;
    height: 100%;
    margin: 0;
    margin-left: 1.6em;
    line-height: 2.3em;
    display: inline-block;
}

#title-heading a {
   color: white; 
   text-decoration: none;
   font-family: 'Raleway';
}

#menu {
    position: absolute;
    right: 2em;
    height: 100%;
    display: inline-block;
    width: 32.8125em;
    z-index: 2;
}

.open-sidebar#menu {
    transform: translateX(-12.5em);
}

#close-nav {
    display: none;
}

.open-sidebar#close-nav {
    transform: translateX(-12.5em);
}

#nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav-list li {
    list-style: none;
}

.nav-button {
    background-color: transparent;
    border-color: transparent;
    color: #ddd;
    font-size: 0.875em;
    font-family: 'Raleway';
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-weight: 600;
    width: fit-content;
    white-space: nowrap;
}

.nav-button:hover {
    color: white;
}

.nav-button.collapsable::after {
    border-left: 0.3125em solid transparent;
    border-right: 0.3125em solid transparent;
    border-top: 0.3125em solid #fff;
    content: "";
    display: inline-block;
    height: 0;
    margin-bottom: 0.3125em;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
    position: relative;
    right: 0;
    vertical-align: middle;
    width: 0;
}

.nav-button.collapsable.open::after {
    transform: rotate(180deg);
}

.subnav {
    position: absolute;
    top: -20em;
    color: #ddd;
    background-color: #6b2c91;
    font-size: 0.875em;
    font-family: 'Raleway';
    padding: 5.5em 1.2em 1.25em 1.2em;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    z-index: 1;
    border-radius: 6px;
    transition: ease .3s;
    transform: translateY(0em);
    min-width: 4.75em;
}

.subnav.open {
    transform: translateY(19.5em);
}

.subnav a {
    display: block;
    text-align: center;
    margin-top: 1.25em;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: #ddd;
}

.subnav a:hover {
    color: white;
}

#burger {
    display: none;
}

main {
    position: relative;
    top: 5em;
    min-height: calc(100vh - 5em);
}

footer {
    width: 100vw;
    height: 3.125em;
    background-color: #333333;
    color: white;
    font-family: 'Raleway';
    transform: translateY(5em);
}

footer h2 {
    font-size: 0.875em;
    line-height: 3.125em;
    margin-left: 3.125em;
    margin-bottom: 0;
    margin-top: 0;
}

footer p {
    font-size: 0.875em;
    float: left;
    margin-top: -2.0625em;
    margin-left: 16.875em;
}

@media only screen and (max-width: 1000px) {
    #title-heading {
        margin-left: 5%;
    }
    
    #title-heading a {
       font-size: 80%;
    }

    #menu {
        height: 100vh;
        width: 11.25em;
        background-color: #1A1A1A;
        position: fixed;
        right: -12.5em;
        box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.075),
            0 2px 2px rgba(0, 0, 0, 0.075),
            0 4px 4px rgba(0, 0, 0, 0.075),
            0 8px 8px rgba(0, 0, 0, 0.075),
            0 16px 16px rgba(0, 0, 0, 0.075);
        z-index: 1;
        transition: transform .3s;
    }

    #close-nav {
        display: initial;
        fill: #ddd;
        width: 1.125em;
        height: 1.125em;
        position: fixed;
        top: 1.875em;
        right: -4.375em;
        z-index: 5;
        transition: transform .3s;
        cursor: pointer;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1.875em;
        height: 70vh;
        width: 11.25em;
        position: fixed;
        top: 6.25em;
    }

    #menu li {
        position: relative;
        left: 0;
        width: 100%;
        z-index: -2;
    }

    .nav-button {
        position: relative;
        left: 0.625em;
    }

    .subnav {
        display: block;
        position: relative;
        top: 0;
        max-height: 0;
        overflow: hidden;
        background-color: #1A1A1A;
        padding: 0;
        transition: max-height 0.5s;
    }

    .subnav.open {
        max-height: 11.25em;
        transform: translateY(0);
    }

    .subnav a {
        position: relative;
        top: 0;
    }

    #burger {
        display: initial;
        fill: #ddd;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 1.875em;
        right: 2em;
        cursor: pointer;
    }
}

@media only screen and (max-width: 500px) {
    #title-heading a {
        font-size: 5vw;
    }

    footer {
        height: 5em;
    }
    
    footer h2 {
        margin-left: 0.9375em;
    }
    
    footer p {
        margin-top: 0;
        margin-left: 0.9375em;
    }
}