main h2 {
    color: #333;
    font-family: 'Raleway';
    font-size: 56px;
    margin-left: 10vw;
    margin-bottom: 35px;
}

main h3 {
    color: #333;
    font-family: 'Raleway';
    font-size: 32px;
    margin-left: 10vw;
    margin-top: 100px;
}

main ul {
    margin-left: 10vw;
}

main a {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #121212;
}

main a#practical {
    margin-left: 10vw;
}