.search {
    border: 1px solid #333333;
    border-radius: 30px;
    width: 80%;
    height: 50px;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input {
    width: 85%;
    height: 95%;
    margin-left: 15%;
    object-fit: contain;
    border: 0 solid transparent;
    background-color: transparent;
    font-size: 24px;
    color: #333333;
    margin-left: 5px;
}

.search img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.search input:focus {
    outline: none;
}

.filters {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.filters div {
    height: fit-content;
    width: fit-content;
    margin-right: 20px;
    justify-content: center;
    display: inline-block;
}

.filters div input {
    margin-bottom: 10px;
    margin-right: 5px;
}
