.search {
    text-align: center;
    margin-top: 100px;
}

.search input[type=text] {
    margin: 0;
    height: 40px;
    width: 300px;
    font-size: 20px;
}

.search button {
    margin: 0;
    width: 40px;
    height: 40px;
}

.search button:hover {
    opacity: 0.8;
}

.filters {
    display: inline-block;
    text-align: left;
    margin-right: 40px;
}

.filters input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 5px;

    transition-duration: 0.25s;
    cursor: pointer;

    background-color: white;
    border: 1px solid black;
}

.filters input[type="checkbox"]:checked {
    background-color: #6b2c91;
    content: '\1F5F8';
    color: white;
    text-align: center;
}