@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 0.8vh;
    text-decoration: none;
    font-size: 18px;
    font-weight: 1;
    font-family: 'Open Sans',sans-serif;
}

.navbar a.active {
    color: darkgrey;
}

.navbar a:hover {
    color: #6b2c91;
}

.title {
    text-align: center;
    margin-top: 36px;
    font-size: 40px;
}

/*

UoM purple - 
Nice green - 
Nice blue - 

*/