.login {
    position:absolute; 
    top:0; left:0; right:0; bottom:0; 
    margin: auto;

    height: 30vh;
    border: 1px solid grey;
    padding: 10px 20px 50px;
    width: fit-content;
    box-shadow: 5px 5px lightgrey, -5px 5px lightgrey;
}

.login h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login input{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.login button {
    margin-top: 10px;
    width: 80%;
    height: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: blueviolet;
    border-radius: 30px;
    border: 0px solid;
    color: white;
    font-size: 100%;
}