.mtebutton {
    overflow: hidden;
    display:inline-flex;
    width: 100%;
    text-align: center;
}

.mtebutton a {
    margin-top: 14vh;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    padding: 10vh 0;
    border-radius: 1vw;
    border: 2px solid #3397e8;

    font-size: 4vmin;
    text-decoration: none;
    color: white;
}

.mtebutton a:hover {
    opacity: 0.8;
    transition: 0.25s;
}