.buttons {
    display: inline-flex;
    flex-flow: wrap;
}

.buttons a {
    margin: auto;
    text-decoration: none;
    margin-top: 14vh;
    width: 35vw;
    padding: 10vh 0;
    border-radius: 1vw;
    border: 2px solid #3397e8;
    background-color: #6b2c91;
    color: white;
    font-size: 3vmin;
}

.buttons a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.buttons hr {
    width: 100%;
    opacity: 0;
}